<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">

	<!-- site verification  -->
	{% if site.google_site_verification != '' %}
	<meta name="google-site-verification" content="{{ site.google_site_verification }}">
	{% endif %}
	<!-- /site verification -->

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

	{% assign style_css = site.data.css-manifest['main.css'] | default: 'main.css' | prepend: 'assets/stylesheets/' | relative_url %}
	<link rel="stylesheet" href="{{ style_css }}">
</head>
