$font-sizes: (
	body: (
		base: 16px,
		small: 14px,
		smaller: 12px
	),
	heading: (
		largest: 52px,
		large: 36px,
		medium: 20px,
	)

);
/**
 * function for retreiving colors from the mapping
 */
 @function get-font-size($purpose: 'body', $size: 'base') {
	@if map-has-key($font-sizes, $purpose) {
		$sizes: map-get($font-sizes, $purpose);
		@if map-has-key($map: $sizes, $key: $size) {
			@return map-get($map: $sizes, $key: $size);
		} @else {
			@error 'There is no size named "#{$size}" for the purpose #{$purpose}.';
		}
	} @else {
		@error 'There is no purpose named "#{$purpose}" defined in the $font-sizes map.';
	}

}
