.o-sidebarLayout {
	display: flex;

	&__main {

	}

	@include mq($until: tablet) {
		flex-direction: column;

		&__aside {
			margin-top: 2em;
			order: 1;
		}
	}

	@include mq($from: tablet) {
		&__main + &__aside,
		&__aside + &__main {
			margin-left: 2em;
		}
	}
}
