.c-homePageVisual {
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 1em;

	&__mainImage {
		margin-left: 1em;
		margin-right: 1em;
	}

	@include mq($until: tablet) {
		.-hideUntilTablet {
			display: none;
		}
	}

	@include mq($from: tablet) {
		margin: 2em;
	}

	@include mq($from: desktop) {
		&__mainImage {
			margin-left: 2em;
			margin-right: 2em;
		}
	}
}
