.c-siteHeader {
	background-color: get-color(greyscale, black);
	background-image: url(/assets/images/fighter.png);
	background-position: center right -2em;
	background-repeat: no-repeat;
	padding: 1em;
	position: relative;

	&__title {
		color: get-color(heading);
		font-family: get-font-family(siteHeader);
		font-size: get-font-size(heading, large);
		font-weight: 900;
		margin: 0;
		text-align: center;
		// text-shadow: 0 0 2px get-color(greyscale, light);
	}

	@include mq($until: tablet) {
		&__schoolName {
			display: block;
		}
	}

	@include mq($from: tablet) {
		background-image: url(/assets/images/logo_small.gif), url(/assets/images/fighter.png);
		background-position: center left 1em, center right 1em;
		padding: 0;

		&__title {
			font-size: get-font-size(heading, large);
			padding-bottom: 1em;
			padding-top: 1em;
		}
	}

	@include mq($from: desktop) {
		&__title {
			font-size: get-font-size(heading, largest);
			padding-bottom: .5em;
			padding-top: .5em;
		}
	}

	@include mq($from: wide) {
		&__title {
			padding-bottom: .7em;
			padding-top: .7em;
		}
	}
}
