.c-siteNavigation {
	background-color: get-color(yellow);
	border-bottom: 1px solid get-color(greyscale, black);
	margin-bottom: 1.25em;

	&__items {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		& + & {
			margin-left: 1em;
		}
	}

	&__link {
		color: get-color(greyscale, black);
		display: inline-block;
		font-size: get-font-size(body, small);
		padding-bottom: 1.25em;
		padding-top: 1.25em;

		&.-isActive {
			border-bottom: 5px solid;
		}
	}
}
