$colors: (
	yellow: (
		base: #eee8aa
	),
	interaction: (
		neutral: #00e
	),
	greyscale: (
		black: #000,
		white: #fff,
		light: #ddd,
		mid: #999
	),
	heading: (
		base: red
	)
);
